{% extends 'main_app/base.html'%}
{% load static %}


{% block content %}
<div class="mainprofile">

   <form action="{% url 'accounts:editprofile' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
       <table border="1px" width="100%" height="100%" border-collapse="collapse">


        <tr><td width="150px">{{item.avatar}}{{form.avatar}}</td>
            <td>
                <table width="100%" height="100%" cellpadding="5px">
                <tr class="table-row"><td>Имя: {{item.user_name}}{{form.user_name}}</td></tr>
                <tr class="table-row"><td>Фамилия: {{item.user_lastname}}{{form.user_lastname}}</td></tr>
                <tr class="table-row"><td>Адрес почты: {{item.email}}{{form.email}}</td></tr>
                <tr class="table-row"><td>Пол: {{item.gender}}{{form.gender}}</td></tr>
                <tr class="table-row"><td>Телефон: {{item.phone}}{{form.phone}}</td></tr>
                <tr class="table-row"><td>День рождения: {{item.birthday}}{{form.birthday}}</td></tr>

                <tr class="table-row"><td> <input type="submit" value="Отправить!"></td></tr>
                </table>
            </td>
        </tr>
    </table>

   </form>

</div>
{% endblock %}





